.landing-sec{
    width: 100%;
    height: 100lvh;
    color: white;
}
.landing-content-con{
    position: relative;
    width: 100%;
    height: 100vh;
}
.landing-image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: aqua;
    z-index: -1;
    object-fit: cover;
}
.landing-content{
    width: 40%;
    padding: 1rem;
    background-color: rgb(27, 151, 185, 0.3);
    position: absolute;
    bottom: 20%;
    left: 30%;
    border-radius: 1rem;
}
.landing-front-con{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

}
.landing-front-icon{
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}
.landing-front-con h1{
    text-align: center;
    width: 80%;
    margin:  0 auto;
    font-size: 35px;
}
.landing-slogan{
    text-align: center;
}
.consultation-button{
    background-color: darkblue;
    margin-top:1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}
.consultation-button a{
    text-decoration: none;
    color: white;
}
.landing-service-button a{
    text-decoration: none;
    color: black;
}
.landing-service-button{
    border: solid 2px darkblue;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    color: black;
}
.landing-button a{
    text-decoration: none;
    color: white;
}
.landing-filter{
    width: 100%;
    height: 100%;
    background-color: rgb(58, 152, 230,0.1);
    position: absolute;
    z-index: -1;
}

@media (max-width: 970px) {
    .landing-front-con h1{
        font-size: 25px;
    }
}
@media (max-width: 790px) {
    .landing-content{
        width: 60%;
        left: 20%;
    }
    .landing-front-con h1{
        font-size: 26px;
    }
}
@media (max-width: 520px) {
    .landing-front-con h1{
        font-size: 23px;
    }
    .landing-content{
        width: 82%;
        left: 5%;
    }
    .landing-front-con p{
        font-size: 13px;
    }
}