.main-content-sec{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main-content-header{
    width: 100%;
    background: linear-gradient(rgb(24, 82, 165), rgb(27, 151, 185, 0.3));
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.main-content-header hr{
    border: solid 3px white;
    width: 20%;
    margin: 0 auto
}
.main-content-header h1{
    padding: 1rem;
    display: flex;
    justify-self: center;
    text-align: center;
    font-size: 40px;
}


.main-landing-sec{
    width: 100%;
    padding-top: 1rem;
}
.main-landing-inner{
    width: 95%;
    margin: 0 auto;
}
.certifications-con{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
    gap: 1rem;
}
.certification{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: rgb(214, 223, 230);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 95%;
    margin: 0 auto;
    justify-items: center;
    border-radius: 1.2rem;
    box-shadow: 3px 3px 3px rgb(189, 196, 198);
}
.certification-icon{
    width: 1rem;
    height: 1rem;
}
.slide-show-con{
    width: 80%;
    height: 80vh;
    border-radius: 1rem;
    overflow: hidden;
    margin: 0 auto;
}
.services-effect{
    width: 100%;
    height: 100%;
    z-index: 0;
}
.slideshow-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.fade {
  animation: fade 2s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}


.main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
}
.about-header{
    width: 100%;
    padding-bottom: 1rem;
    justify-content: center;
    justify-items: center;
}
.about-header h2{
    padding: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(26, 82, 165);
}

.about-header p{
    display: flex;
    justify-content: center;
    font-size: 18px;
}
.about-sec{
    width: 100%;
    padding-top: 2rem;
}
.about-us-con-one{
    width: 70%;
    display: flex;
    flex-direction: row;
    margin:  0 auto;
    gap: 2rem;
    padding-bottom: 2rem;
}
.about-left{
    width: 100%;
}
.about-right{
    width: 100%;
}

.bottom-p{
    text-align: center;
}
.mission-sec{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 4rem;
}
.mission-con-title{
    width:30%;
}
.mission-con-title h2{
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: rgb(26, 82, 165);
}
.mission-con-title hr{
    border: solid 2px rgb(26, 82, 165);
    width: 22%;
    margin:  0 auto;
}
.mission-con-title p {
    text-align: center;
    width: 90%;
    margin:  0 auto;
    padding-top: 1rem;
}
.mission-content{
    width: 50%;
}
.mission-content p{
    padding-bottom: 10px;
}


@media (max-width: 800px) {
    .about-us-con-one{
        width: 90%;
    }
}
@media (max-width: 700px) {
    .main-content-header h1{
        font-size: 23px;
    }
    .mission-sec{
        flex-direction: column;
    }
    .mission-con-title{
        width: 80%;
    }
    .mission-content {
        width: 90%;
        margin:  0 auto;
    }
    
}
@media (max-width: 650px) {
    .main-landing-inner{
        flex-direction: column;
        width: 95%;
    }
    .certifications-con{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12.2rem, 1fr));
        width: 100%;
        padding-bottom: 2rem;
    }
    .certification{
        width: 10rem;
    }    
    .certification p{
        font-size: 10px;
    }

    .slide-show-con{
        width: 100%;
        margin: 0 auto;
    }
    
}
@media (max-width: 550px) {
    .about-us-con-one{
        flex-direction: column;
    }
}
@media (max-width: 428px) {
    .certifications-con{
        display: flex;
        flex-direction: column;
    }
    .certification{
        width: 90%;
    }
}
@media (max-width: 400px) {
    .main-content-header h1{
        font-size: 18px;
    }
}

