.media-links{
    width: 2rem;
    height: 8rem;
    border-radius: 1rem;
    padding: 10px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    background-color: rgb(26, 82, 165);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.media-link-con{
    margin: 0 auto;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}
.media-icon{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}