.services-effect{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}
.slideshow-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.fade {
  animation: fade 2s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
